{% for moduleName, actions in menuItems %}

{% for action in actions %}

<li class="{{ activeSidebarNode == action.name ? 'SidebarActive' : ''}}">	
    <div class="SuperToolsSidebarIcon SidebarIcon SidebarIcon{{moduleName}}{{action.name}}" 
         onClick="CModule.Load('{{moduleName}}', {'Page' : '{{action.name}}'});" title="{{action.displayName}}"></div>
</li>
<li style='padding-left:2px; height:2px;'><div class='SidebarSeparator'></div></li>

{% endfor %}

{% endfor %}