<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td width="100%" valign="top">
            <table class="CForm_Table TableFormGroup">

                {{ RandomPrefix() }}
                {{ AddTextbox("Name", "Name", M.Name, "Please enter a Name") | raw }}
                {{ AddYesNo("Customer Approval", "CustomerApproval", M.CustomerApproval, "YesNo")  | raw }}
                {{ AddTextarea("Summary", "Summary", M.Summary) | raw }}
                {{ AddDatepicker("Estimated Start Date", "EstimatedStartDate", M.EstimatedStartDate, "", "") | raw }}
                {{ AddDatepicker("Expected Delivery Date", "ExpectedDeliveryDate", M.ExpectedDeliveryDate, "", "", "Please enter an Expected Delivery Date") | raw }}
                {{ AddDatepicker("Actual Delivery Date", "ActualDeliveryDate", M.ActualDeliveryDate, "", "") | raw }}
                {{ AddTextbox("Plant Allocated", "PlantAllocated", M.PlantAllocated) | raw }}
                {{ AddDropdown("Assigned To", "AssignedTo", Users, M.AssignedTo) | raw }}	
                {{ AddYesNo("Complete", "Status", M.Complete, "YesNo") | raw }}
                {{ AddHidden("ProjectsID", M.ProjectsID) | raw }}
                {{ AddHidden("MilestoneID", M.ID) | raw }}

            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3" align="right">
            <div class="Button" value="Save" onClick="MMilestoneList.saveMilestone({{M.ID}}, '{{GetPrefix()}}');">save</div>
            <div class="Button" value="Cancel" onClick="MMilestoneList.cancelEditMilestone({{M.ID}});">cancel</div>
            {% if Security.CanDeleteMilestone %}
            <div class="Button" value="Delete" onClick="MMilestoneList.deleteMilestone({{M.ID}});">delete</div>
            {% endif %}
        </td>
    </tr>
</table>