<div id="MilestoneRowContainer{{M.ID}}">
<div id="MilestoneWrapper{{M.ID}}" class="MilestoneWrapper" style="position:relative;">
    <div class="MilestoneContainer">
        <table style="width:100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td rowspan="2" class="MilestoneListCompleteSection">
                    {% if M.Complete %}
                        <div class='Complete MilestoneListComplete'></div>
                    {% endif %}
                </td>
                <td class="MilestoneListSection MilestoneListSummary">
                        <div id="MilestoneSection{{M.ID}}" class="MilestoneListTitle">{{M.Name}}</div></a>
                        <div>Summary: {{M.Summary}}</div>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                    <div class="MilestoneListSectionTitle">Dates</div>
                    <p><b>Start:</b>&nbsp;{{M.EstimatedStartDate | FormatDate }}</p>
                    <p><b>Delivery:</b>&nbsp;{{M.ExpectedDeliveryDate | FormatDate }}</p>
                    <p><b>Actual Delivery:</b>&nbsp;{{M.ActualDeliveryDate | FormatDate }}</p>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                    <div class="MilestoneListSectionTitle">Other</div>
                    <p><b>Plant allocated:</b>&nbsp;{{M.PlantAllocated}}</p>							
                    <p><b>Customer Approval:</b>&nbsp;{% if M.CustomerApproval %}Yes{% else %}No{% endif %}</p>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                {% if M.ToDosCompletion >= 0 %}
                    <div class="MilestoneListSectionTitle MilestoneListTODOCompletionTitle">TODOs Completion</div>
                    <div class="CompletionWrapper" style='width:152px;'>
                        <div class="CompletionBar" style='width:{{M.ToDosCompletion * 150 / 100}}px'></div>
                        <div class="CompletionPercentage">{{M.ToDosCompletion}}</div>
                    </div>
                {% else %}
                    N/A
                {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    {% if Security.CanEditMilestone %}
                    <div class="MilestoneListDetails" id="Milestone{{M.ID}}"></div>
                    {% endif %}
               </td>
            </tr>
        </table>
    </div>
</div>

{% if Security.CanEditMilestone %}

<script type='text/javascript'>
    $('#MilestoneSection{{M.ID}}').toggle(function() {
        MMilestoneList.editMilestone({{M.ID}});
    }, function() {
        MMilestoneList.cancelEditMilestone({{M.ID}});
    });
</script>
{%endif%}
</div>
