<h1 style='position:absolute; top:0px;'>{{TotalMilestones}} Milestones / {{TotalToDos}} Todos assigned</h1>
<br/>

{% for P in Projects %}
<h2>{{ P.ProductNumber }}&nbsp;&nbsp;{{ P.School }}</h2>

{% for M in P.Milestones %}

    {% include 'MilestonesImAssignedToRow.twig' %}

    <div class="MilestoneListToDoListWrapper">
    {% for ToDo in M.ToDos %}
        <div id="MilestoneToDoContainer{{ToDo.ID}}">
        
            {% include 'MilestonesImAssignedToToDoRow.twig' %}
            
        </div>
    {% endfor %}
    </div>

{% endfor %}

{% endfor %}