<div id="MilestoneRowContainer{{m.id}}">
<div id="ProjectWrapper{{m.id}}" class="ProjectWrapper" style="position:relative;">
    <div class="ProjectContainer">
        <table style="width:100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td class="MilestoneListSummary">
                    {% if m.complete %}
                        <div class='Complete MilestoneListComplete'></div>
                    {% endif %}
                        <div id="MilestoneLabel{{m.id}}" style="font-weight:bold; font-size:14px;">{{m.name}}</div></a>
                        <div>Summary: {{m.summary}}</div>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                    <div class="MilestoneListSectionTitle">Dates</div>
                    <p><b>Start:</b>&nbsp;{{m.estimatedStartDate}}</p>							
                    <p><b>Delivery:</b>&nbsp;{{m.expectedDeliveryDate}}</p>
                    <p><b>Actual Delivery:</b>&nbsp;{{m.actualDeliveryDate}}</p>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                    <div class="MilestoneListSectionTitle">Other</div>
                    <p><b>Plant allocated:</b>&nbsp;{{m.plantAllocated}}</p>							
                    <p><b>Approval:</b>&nbsp;{{m.customerApproval}}</p>
                </td>
                <td class="MilestoneListSeparator"><div class="Separator"></div></td>
                <td class="MilestoneListSection">
                {% if m.todosCompletion >= 0 %}
                    <div class="MilestoneListSectionTitle MilestoneListTODOCompletionTitle">TODOs Completion</div>
                    <div class="CompletionWrapper" style='width:152px;'>
                        <div class="CompletionBar" style='width:{{m.todosCompletion * 150 / 100}}px'></div>
                        <div class="CompletionPercentage">{{m.todosCompletion}}</div>
                    </div>
                {% else %}
                    N/A
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% if security.canEdit %}
<div class="MilestoneListDetails" id="Milestone{{m.id}}"></div>

<script type='text/javascript'>
    $('#ProjectWrapper{{m.id}}').toggle(function() {
        MMilestoneList.editMilestone({{m.id}});
    }, function() {
        MMilestoneList.cancelEditMilestone({{m.id}});
    });
</script>
{%endif%}
</div>
