<div id="ProjectListContainer">
<h1>{{projects|length}} Projects Private Offer</h1>
<br/>

{% for p in projects %}
<div class="ProjectWrapper">
    <div class="ProjectContainer">
        <table style="width:100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td class="ProjectListSection">
                    <p class="ProjectListISBN">Connect ISBN:&nbsp;{{p.ISBN}}</p>
                    <p><b>Connect Plus ISBN:</b>&nbsp;{{p.ConnectPlusISBN}}</p>
                    <p><b>Requester:</b>&nbsp;{{p.RequesterName}}</p>
                    <p><b>e-Mail:</b>&nbsp;{{p.RequesterEmail}}</p>
                </td>
                <td class="ProjectListSeparator"><div class="Separator"></div></td>
                <td class="ProjectListSection">
                    <div class="ProjectListSectionDatesTitle">Dates</div>
                    <p><b>Date needed:</b>&nbsp;{{ p.DateNeeded | FormatDate }}</p>
                </td>
                <td class="ProjectListSeparator"><div class="Separator"></div></td>
                <td class="ProjectListSection">
                    <div class="ProjectListSectionDetailsTitle">Project Details</div>
                    <p><b>CA:</b>&nbsp;{{ p.CreativeContactName }}</p>
                </td>
                <td class="ProjectListSeparator"><div class="Separator"></div></td>
                <td class="ProjectListSection">
                    <div class="ProjectListSectionMilestonesTitle">Milestones</div>
                    <ul>
                    {% for m in p.milestones %}
                        <li>
                        {% if m.Status == "Complete" %}
                        <span>
                        {% else %}
                        <span class="ProjectsListMilestoneIncomplete">
                        {% endif %}
                        {{ m.Name }}
                        </span>
                        </li>
                    {% endfor %}
                    </ul>
                    <p><b>Status:</b>&nbsp;{{ GetStatusName(p.Status) }}</p>
                </td>
                <td class="ProjectListDetailsLink">
                    <div onClick="MProjectsPrivateOffer.showProjectDetails({{p.ID}})" class='ProjectDetailsLink'></div>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endfor %}

</div>

<div id="ProjectDetailsContainer" style="display: none">
</div>
