<div class="ProjectContainer" style="padding-bottom:45px;">
    <h1 style="position: absolute;top: 0px;">{{project.ProjectNumber}}&nbsp;//&nbsp;{{project.SchoolName}}</h1>
    <br/>
    <div id='MoveBackButton' onClick="MProjectsPrivateOffer.moveToList();" class='Back' style='top: 35px; left: 715px;'></div>
    <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:33px; padding-top:17px;"></td>
            <td colspan="7" style="padding-top:20px; font-size:24px;">
                <div style="float:left;">Project Details</div>
                {% if canEdit %}
                    <div class='Icon_Edit' style='float:left; margin-left:12px;' 
                         onClick="MProjectsPrivateOffer.toggleDetailsEdit()"></div>
                {% endif %}
            </td>
            <td style="width:33px;"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="ProjectDetailsReadOnly">
                    <table width="100%">
                        <tr>
                            <td style="vertical-align:top; padding:22px 11px; padding-left:0px; width:35%;">
                                <div style="font-weight:bold; font-size:18px;">{{project.ISBN}}</div>
                                <p><b>Connect Plus ISBN:</b>&nbsp;{{project.ConnectPlusISBN}}</p>
                                <p><b>Requester:</b>&nbsp;{{project.RequesterName}}</p>
                                <p><b>e-mail:</b>&nbsp;{{project.RequesterEmail}}</p>
                            </td>
                            <td style="vertical-align:top; padding-top:20px;"><div class="Separator"></div></td>
                            <td style="vertical-align:top; padding:22px 11px; width:64%;">
                                <div style="color:#d74c4c; font-weight:bold; font-size:14px;">Dates</div>
                                <p><b>Submit date:</b>&nbsp;{{ project.Created | FormatDate }}</p>
                                <p><b>Date needed:</b>&nbsp;{{ project.DateNeeded | FormatDate }}</p>
                                <p><b>Complete date:</b>&nbsp;{{ project.CompleteDate | FormatDate }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div style="color:#0685c5; font-weight:bold; font-size:14px;">Details</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top; padding:22px 11px; width:35%">
                                <p><b>Status:</b>&nbsp;{{ GetStatusName(project.Status) }}</p>
                                <p><b>LSC:</b>&nbsp;{{project.LSCUserName}}</p>
                                <p><b>CA:</b>&nbsp;{{project.CreativeContactName}}</p>
                                <p><b>Product type:</b>&nbsp;{{project.ConnectionType}}</p>
                            </td>
                            <td style="vertical-align:top; padding-top:20px;"><div class="Separator"></div></td>
                            <td style="vertical-align:top; padding:22px 11px; width:64%">
                                <p><b>School city:</b>&nbsp;{{project.SchoolCity}}</p>
                                <p><b>Campus name:</b>&nbsp;{{project.CampusName}}</p>
                                <p><b>Duration:</b>&nbsp;{{project.Duration}}</p>
                                <p><b>Price:</b>&nbsp;{{project.Price}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><p><b>Comments:</b>&nbsp;{{ project.Comments }}</p></td>
                        </tr>
                        <tr>
                            <td colspan="6" class="SeparatorHorizontal"></td>
                        </tr>
                    </table>
                </div>
                {% if canEdit %}
                <div id="ProjectDetailsEdit" style="display:none;">
                    <table class="CForm_Table">
                        
                        {{ RandomPrefix() }}
						{{ AddTextbox("ISBN", "ISBN", project.ISBN) | raw }}
                        {{ AddTextbox("Screenshot link", "ScreenshotLink", project.ScreenshotLink) | raw }}
                        {{ AddDropdown("Status", "Status", statusList, project.Status) | raw }}
                        {{ AddHidden("ProjectID", project.ID) | raw }}
                        
                        
                        
                        <tr>
                            <td></td>
                            <td>
                                <div class="Button" value="Save" onClick="MProjectsPrivateOffer.save('Project', '{{ GetPrefix() }}');">save</div>
                                <div class="Button" value="Cancel" onClick="MProjectsPrivateOffer.toggleDetailsEdit();">cancel</div>
                                {% if canDelete %}
                                <div class="Button" value="Delete" onClick="MProjectsPrivateOffer.deleteProject('{{ GetPrefix() }}')">delete</div>
                                {% endif %}
                                <br style="clear:both;"><br>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </td>
			<td style="width:30px;"></td>
        </tr>
        {% if milestones %}
        <tr>
            <td></td>
            <td>
                <div style='font-weight:bold; font-size:14px; margin-top:12px; margin-bottom:6px;'>
                    Milestone Completion // <span style="color:#5a8111;">{{milestoneCompletion}}&nbsp;% Complete</span>
                </div>
                <div class="CompletionWrapper" style="width:672px;">
                    <div class="CompletionBar" style="width:{{milestoneCompletion * 670 / 100}}px"></div>
                    <div class="CompletionPercentage">{{milestoneCompletion}}</div>
                </div>  
            </td>
        </tr>
        {% endif %}
        {% if canEdit %}
        {% for m in milestones %}
        {% set isComplete = (m.Status == "Complete") %}
        <tr>
            <td>
                {% if isComplete %}
                <div class="Complete" style="float:right; position:relative; top:8px;"></div>
                {% endif %}
            </td>
            <td>
                <div id="MilestoneLabel{{m.ID}}"
                     onclick="MProjectsPrivateOffer.toggleMilestone({{m.ID}});" 
                     style="padding-left:11px; font-weight:bold; font-size:14px; margin-top:12px; margin-bottom:6px; cursor:pointer;">
                    <span style="float:left;">
                        [{{loop.index}}] {{m.Name}}&nbsp;&nbsp;&nbsp;
                    </span>
                    <div class="MilestoneDownArrow"></div>
                </div>
                <div class="MilestoneDetails" id="Milestone{{m.ID}}"  
                     style="padding-left:58px; display:none; clear:both; margin:12px 0px; position:relative; top:12px;">
                    <table>
                        {{ RandomPrefix() }}
                        {{ AddHidden("MilestoneID", m.ID) | raw }}
                        {{ AddHidden("ProjectID", project.ID) | raw }}
                        {{ AddYesNo("Complete", "Status", isComplete, "YesNo") | raw }}
                        <tr>
                            <td colspan="3" align="right">
                                <div class="Button" value="Save" onClick="MProjectsPrivateOffer.save('Milestone', '{{GetPrefix()}}');">save</div>
                                <div class="Button" value="Cancel" onClick="MProjectsPrivateOffer.toggleMilestone({{m.ID}});">cancel</div>
                                {% if canDelete %}
                                    <div class="Button" value="Delete" onClick="MProjectsPrivateOffer.deleteMilestone({{m.ID}});">delete</div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>