<div class="ProjectContainer" style="padding-bottom:45px;border: 2px solid #bebebe;border-radius: 5px;">
    <div id='MoveBackButton' onClick="MProjectsShopOnline.moveToList();" class='Back' style='top: 35px; left: 715px;'></div>
    <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:33px; padding-top:17px;"></td>
            <td colspan="7" style="padding-top:20px; font-size:24px;">
                <div style="float:left;">Project Details</div>
                {% if canEdit %}
                    <div class='Icon_Edit' style='float:left; margin-left:12px;' 
                         onClick="MProjectsShopOnline.toggleDetailsEdit()"></div>
                {% endif %}
            </td>
            <td style="width:33px;"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="ProjectDetailsReadOnly">
                    <table width="100%">
                        <tr>
                            <td style="width:1%;"></td>
                            <td style="vertical-align:top; padding:22px 11px; padding-left:0px; width:39%;">
                                <div style="font-weight:bold; font-size:18px;">{{project.ISBN10}}</div>
                                <p><b>Author:</b>&nbsp;{{project.Author}}</p>
                                <p><b>Requester name:</b>&nbsp;{{project.RequesterName}}</p>
                                <p><b>e-mail:</b>&nbsp;{{project.RequesterEmail}}</p>
                            </td>
                            <td style="vertical-align:top; padding-top:20px;"><div class="Separator"></div></td>
                            <td style="vertical-align:top; padding:22px 11px; width:30%;">
                                <div style="color:#d74c4c; font-weight:bold; font-size:14px;">Dates</div>
                                <p><b>Submit date:</b>&nbsp;{{ project.Created | FormatDate }}</p>
                                <p><b>Date needed:</b>&nbsp;{{ project.DateNeeded | FormatDate }}</p>
                                <p><b>Complete date:</b>&nbsp;{{ project.CompleteDate | FormatDate }}</p>
                            </td>
                            <td style="vertical-align:top; padding-top:20px;"><div class="Separator"></div></td>
                            <td style="vertical-align:top; padding:22px 11px; width:30%">
                                <div style="color:#0685c5; font-weight:bold; font-size:14px;">Project Details</div>
                                <p><b>Status:</b>&nbsp;{{ project.GetStatusName() }}</p>
                                <p><b>CA:</b>&nbsp;{{project.ContactName}}</p>
                                <p><b>ISBN type:</b>&nbsp;{{project.ISBNType}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p><b>Custom cover url:</b>&nbsp;
                                    <a href="{{ project.CustomCoverURL }}">{{ project.CustomCoverURL }}</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"><p class="Comments"><b>Comments:</b>&nbsp;{{ project.Comments }}</p></td>
                        </tr>
                        {% if project.ISBNType == "Virtual/ECOM" %}
                        <tr>
                            <td></td>
                            <td colspan="5">
                                <table>
                                    <tr>
                                        <td><p><b>Virtual code</b></p></td>
                                        <td><div id="AddMilestone" onClick="$('#VirtualECOMDetails').slideToggle();"></div></td>
                                    </tr>
                                </table>
                                <div id="VirtualECOMDetails" style="display: none">
                                    <p><b>Shop instructions:</b>&nbsp;{{project.VirtualECOMInstructionsShop}}</p>
                                    <p><b>e-mail instructions:</b>&nbsp;{{project.VirtualECOMInstructionsEmail}}</p>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% if project.StoreFrontItems %}
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <table>
                                    <tr>
                                        <td><p><b>e-commerce BookShelf:</b></p></td>
                                        <td><div id="AddMilestone" onClick="$('#StoreFrontItems').slideToggle();"></div></td>
                                    </tr>
                                </table>
                                <div id="StoreFrontItems" style="display: none">
                                    {% for item in project.StoreFrontItems %}
                                    <table class="StoreFrontInfoTable">
                                        <tr>
                                            <td style="width: 50px"><b>ISBN:</b></td><td>{{item.ISBN}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Author:</b></td><td>{{item.Author}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Virtual:</b></td><td>{{item.Virtual}}</td>
                                        </tr>
                                    </table>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="5" class="SeparatorHorizontal"></td>
                        </tr>
                    </table>
                </div>
                {% if canEdit %}
                <div id="ProjectDetailsEdit" style="display:none;">
                    <table class="CForm_Table">
                        
                        {{ RandomPrefix() }}
						{{ AddTextbox("ISBN-10", "ISBN10", project.ISBN10) | raw }}
                        {{ AddDropdown("Status", "Status", statusList, project.Status) | raw }}
                        {{ AddHidden("ProjectID", project.ID) | raw }}
                        
                        <tr>
                            <td></td>
                            <td>
                                <div class="Button" value="Save" onClick="MProjectsShopOnline.save('Project', '{{ GetPrefix() }}');">save</div>
                                <div class="Button" value="Cancel" onClick="MProjectsShopOnline.toggleDetailsEdit();">cancel</div>
                                {% if canDelete %}
                                <div class="Button" value="Delete" onClick="MProjectsShopOnline.deleteProject('{{project.ID}}');">delete</div>
                                {% endif %}
                                <br style="clear:both;"><br>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </td>
			<td style="width:30px;"></td>
        </tr>
        {% if project.Milestones %}
        <tr>
            <td></td>
            <td>
                <div style='font-weight:bold; font-size:14px; margin-top:12px; margin-bottom:6px;'>
                    Milestone Completion // <span style="color:#5a8111;">{{milestoneCompletion}}&nbsp;% Complete</span>
                </div>
                <div class="CompletionWrapper" style="width:672px;">
                    <div class="CompletionBar" style="width:{{milestoneCompletion * 670 / 100}}px"></div>
                    <div class="CompletionPercentage">{{milestoneCompletion}}</div>
                </div>  
            </td>
        </tr>
        {% endif %}
        {% if canEdit %}
        {% for m in project.Milestones %}
        {% set isComplete = (m.Status == "Complete") %}
        <tr>
            <td>
                {% if isComplete %}
                <div class="Complete" style="float:right; position:relative; top:8px;"></div>
                {% endif %}
            </td>
            <td>
                <div id="MilestoneLabel{{m.ID}}"
                     onclick="MProjectsShopOnline.toggleMilestone({{m.ID}});" 
                     style="padding-left:11px; font-weight:bold; font-size:14px; margin-top:12px; margin-bottom:6px; cursor:pointer;">
                    <span style="float:left;">
                        [{{loop.index}}] {{m.Name}}&nbsp;&nbsp;&nbsp;
                    </span>
                    <div class="MilestoneDownArrow"></div>
                </div>
                <div class="MilestoneDetails" id="Milestone{{m.ID}}"  
                     style="padding-left:58px; display:none; clear:both; margin:12px 0px; position:relative; top:12px;">
                    <table>
                        {{ RandomPrefix() }}
                        {{ AddHidden("MilestoneID", m.ID) | raw }}
                        {{ AddHidden("ProjectID", project.ID) | raw }}
                        {{ AddHidden("Name", m.Name) | raw  }}
                        {{ AddYesNo("Complete", "Status", isComplete, "YesNo") | raw }}
                        <tr>
                            <td colspan="3" align="right">
                                <div class="Button" value="Save" onClick="MProjectsShopOnline.save('Milestone', '{{GetPrefix()}}');">save</div>
                                <div class="Button" value="Cancel" onClick="MProjectsShopOnline.toggleMilestone({{m.ID}});">cancel</div>
                                {% if canDelete %}
                                    <div class="Button" value="Delete" onClick="MProjectsShopOnline.deleteMilestone({{m.ID}});">delete</div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>