{% extends 'UnauthorizedModuleMaster.twig' %}
    
{% block mainContent %}
 
<h2>Product page setup for Private Offers at a Connect site</h2>

<table width="100%" cellspacing="0" cellpadding="0">
    <script type="text/javascript">
        {{ RandomPrefix() }}
        {% set uploadPrefix = GetPrefix() %}
        MProjectCreator.initUploadForm('{{uploadPrefix}}');
    </script>
    <tr>
        <td width="100px" valign="top">
            <form id="UploadForm" >							
                <div class="TableFormGroup" align="center">
                    <table class="CForm_Table">
                        {{ AddUpload("Filename", "Filename","Temp","ProjectCreatorUploadButton") | raw }}
                    </table>
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">
            <div id="UploadButton" class="Button ShopOnlineButton" value="create" 
                 onClick="MProjectCreator.uploadPrivateOfferFile('{{uploadPrefix}}');">upload</div>
        </td>
    </tr>
    <script type="text/javascript">
        {{ RandomPrefix() }}
        {% set formPrefix = GetPrefix() %}
        MProjectCreator.initPrivateOfferForm('{{formPrefix}}');
    </script>
    <tr>
        <td width="100%" valign="top">			
			<form id="CreationForm" >			
				<div class="TableFormGroup" align="center">
				<table class="CForm_Table" >			
					
					{{ AddTextbox("Project Number", "ProjectNumber", "") | raw }}
					{{ AddTextbox("ISBN", "ISBN", "") | raw }}
					{{ AddTextbox("Connect Plus ISBN", "ConnectPlusISBN", "") | raw }}
					{{ AddTextbox("Requester name", "RequesterName", "") | raw }}
					{{ AddTextbox("Requester e-mail", "RequesterEmail", "") | raw }}
					{{ AddDropdown("LSC", "LscID", LSCs, "") | raw }}
					<tr>
						<td class="CForm_Name" style="line-height:0px;">&nbsp;</td>
						<td><label for="{{formPrefix}}LscID" class="error" style="display:none;">LSC is required.</label></td>
					</tr>
					{{ AddDatepicker("Date needed", "DateNeeded", "") | raw }}
					{{ AddDropdown("Creative Contact", "CreativeContactID", CreativeContacts, "") | raw }}
					<tr>
						<td class="CForm_Name" style="line-height:0px;">&nbsp;</td>
						<td><label for="{{formPrefix}}CreativeContactID" class="error" style="display:none;">Creative Contact is required.</label></td>
					</tr>
					<tr>
						<td align="right" class="CForm_Name" valign="top"><b>Connection Type:</b>&nbsp;</td>
						<td class="CForm_Value" valign="center">
							<input type="radio" name="ConnectionType" class="ConnectionType" value="Connect" title="Connect">Connect</input>
							<input type="radio" name="ConnectionType" class="ConnectionType" value="ConnectPlus" title="Connect Plus">Connect Plus</input>
							<input type="radio" name="ConnectionType" class="ConnectionType" value="Both" title="Both">Both</input>
							{{ AddHidden("ConnectionType", "") | raw }}
						</td>
					</tr>
					<tr>
						<td class="CForm_Name" style="line-height:0px;">&nbsp;</td>
						<td><label for="{{formPrefix}}ConnectionType" class="error" style="display:none;"> (*) Connection Type is required.</label></td>
					</tr>
					{{ AddTextbox("School Name", "SchoolName", "") | raw }}
					{{ AddTextbox("School City", "SchoolCity", "") | raw }}
					{{ AddTextbox("Campus Name", "CampusName", "") | raw }}
					{{ AddTextbox("Duration (in days)", "Duration", "") | raw }}
					<tr>
						<td align="right" class="CForm_Name" valign="top"><b>Price Type:</b>&nbsp;</td>
						<td class="CForm_Value" valign="center">
							<input type="radio" name="PriceType" class="PriceType" title="Connect" value="Connect">Connect</input>
							<input type="radio" name="PriceType" class="PriceType" title="Connect Plus" value="ConnectPlus">Connect Plus</input>						
							{{ AddHidden("PriceType", "") | raw }}
						</td>
					</tr>
					<tr>
						<td class="CForm_Name" style="line-height:0px;">&nbsp;</td>
						<td><label for="{{formPrefix}}PriceType" class="error" style="display:none;"> (*) Price Type is required.</label></td>
					</tr>
					{{ AddTextbox("Price", "Price", "") | raw }}
					<tr>
						<td colspan="2" style="text-align:center;">
							<div align="center" style="margin-top:30px;">
							{{ AddRecatpcha() | raw }}					
							</div>
						</td>
					</tr>
				</table>
				</div>
			</form>
        </td>
    </tr>
    <tr>
        <td align="right">
            <div class="Button" value="create" onClick="javascript:MProjectCreator.createPrivateOffer('{{formPrefix}}');">create</div>
        </td>
    </tr>
</table>

{% endblock %}
