<div id="UploadResultContainer" class="ShopOnlineUploadResultsContainer">
<table width="100%">
    <tr>
        <td class="UploadResultDataTitle">File:&nbsp;</td>
        <td>{{filename}}</td>
    </tr>
    <tr>
        <td class="UploadResultDataTitle">File size:&nbsp;</td>
        <td>{{filesize}}&nbsp;bytes</td>
    </tr>
    <tr>
        <td class="UploadResultDataTitle">Total rows processed:&nbsp;</td>
        <td>{{processed}}</td>
    </tr>
    <tr>
        <td class="UploadResultDataTitle">Projects with errors (details below):&nbsp;</td>
        <td>{{errors | length}}</td>
    </tr>
    <tr>
        <td colspan="2" class="UploadResultsBottomTD">
        {% if created > 0 %}
            <p class="ShopOnlineSuccess">{{created}} projects from CSV file created successfully.</p>
        {% else %}
            <p>No projects created.</p>
        {% endif %}
        </td>
    </tr>
</table>
{% if errors %}
<p class="ShopOnlineResultSubtitle">Errors</p>
<table class="ShopOnlineErrorTable">
    <tr><th>Project ISBN</th><th>Errors</th></tr>
    {% for project in errors %}
    <tr class="{{ loop.index is even ? 'ShopOnlineErrorRowEven' : 'ShopOnlineErrorRowOdd'}}">
        <td><p>{{project.ISBN}}</p></td>
        <td>
            <ul>
            {% for detail in project.details %}
                <li>{{detail}}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
No errors.
{% endif %}
</div>